.card-text {
    font-size: small;   
}

.nav-link {
    font-family: "Star Wars", sans-serif;
    font-size: 18px;
    color: yellow;
}

.sw-title {
    text-align: center;
    margin-top: 100px;
    font-family: "Star Wars", sans-serif;
    font-size: 60px;
    color: yellow;
}

.sw-desc {
    text-align: center;
    font-family: "Star Wars", sans-serif;
    color: yellow;
}

.people-title {
    font-size: 15px;
}

